In [8]:
import pandas as pd # for cleaning and loading data from csv file
import numpy as np
from matplotlib import pyplot as plt # package for plotting graphs
import datetime
import seaborn as sns; sns.set(color_codes=True)
%matplotlib inline

In [10]:
df = pd.read_csv("covid_19_india.csv")
df.head() # Preview first 5 rows of dataframe

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [2]:
1,2.45,80,"hi",'hello world'

(1, 2.45, 80, 'hi', 'hello world')

In [7]:
print("This is my first python script")

This is my first python script

In [ ]:
integer =1
decimal = 2.45
text = 'hello world'

#I will perform maths operation
''''''
This is multiline example of writing comments
''''''

In [12]:
a = 2
b = 4
d =a+b
print(d)

6

#Data Structures

.List

In [16]:
li = [100, 200, 300, 400, 500]
print(li)

[100, 200, 300, 400, 500]

In [17]:
print(li[1])

200

In [18]:
li[-1]

500

#the above is for last element of data

In [19]:
li[::-1]

[500, 400, 300, 200, 100]

#if value is more than 15

#Problem

if a value < 150;
        execute algebric equation - (a+b)^3 where a- value/element of the list, b -userdefinevalues
else:
        execute algebrick equation - (a-b)^2where a - value/element of the list, b -userdefinevalues
 store each execution in a list
 return the list
 
 Hint - user defined - user_list, b

In [ ]:
li = range(110, 200  # lazy operator-it does not consume memory for all the elements at once

Importing packages